<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
  </head>

  <body class="ui-transparent-nav">
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container container-nav">
  
        <a class="ui-variable-logo navbar-brand" title="BPJamsostek">

          <img
            class="logo-default"
            src="../assets/logo-bpjamsostek-color@2x.svg"
            alt="BPJS Ketenagakerjaan - BPJamsostek"
            data-uhd=""
          />
 
          <img
            class="logo-transparent"
            src="../assets/logo-bpjamsostek@2x.svg"
            alt="BPJS Ketenagakerjaan - BPJamsostek"
            data-uhd=""
          /> </a
        ><!-- .navbar-brand -->

        <!-- Navbar Toggle -->
        <a class="ui-mobile-nav-toggle pull-right mt-10"
          ><div><span></span><span></span><span></span><span></span></div
        ></a>
        <!-- Navbar Button -->
        <a
          href="https://www.bpjsketenagakerjaan.go.id/en"
          class="btn btn-sm pull-right mt-25"
        >
          EN</a
        >
        <a
          href="https://www.bpjsketenagakerjaan.go.id/search.html"
          class="btn btn-sm btn-search pull-right mt-25"
          ><i class="fa fa-search"></i
        ></a>
        <!--<a href="#lang" class="btn btn-sm pull-right"><span class="icon-globe"></span> EN</a>-->

        <!-- Navbar Navigation -->
        <div class="ui-navigation navbar-right mt-10">
          <ul class="nav navbar-nav">
            <!-- Nav Item -->

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"
                ><span>Informasi Kepesertaan </span></a
              >
            </li>
            <!-- Nav Item -->
            <li>
              <a href="https://www.bpjsketenagakerjaan.go.id/cara-klaim.html"
                ><span> Cara Klaim</span></a
              >
            </li>
            <!-- Nav Item -->
            <li>
              <a href="https://www.bpjsketenagakerjaan.go.id/berita.html"
                ><span>Berita</span></a
              >
            </li>
            <!-- Nav Item -->
            <li>
              <a href="https://www.bpjsketenagakerjaan.go.id/tentang-kami.html"
                ><span>Tentang Kami</span></a
              >
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"
                ><span>Informasi Publik </span></a
              >
            </li>
            <!-- Nav Item -->
            <li>
              <a href="https://www.bpjsketenagakerjaan.go.id/kontak.html"
                ><span>Kontak</span></a
              >
            </li>
          </ul>
          <!--.navbar-nav -->
        </div>
        <!--.ui-navigation -->
      </div>
      <!-- .container -->
    </nav>
    <!-- nav -->

    <!-- .main -->
    <!-- banner -->
    <div class="section-home-slider">
      <div id="banner" class="slide ui-blue-color" data-ride="carousel">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img
              src="../assets/banner_hd_Artboard_22-100.jpg"
              alt="Banner1"
              class="web-banner"
              style="width: 100%"
            />
            <div class="carousel-caption">
              <h1
                class="heading animate animated fade-in-up-big"
                data-show="fade-in-up-big"
                data-delay="100"
              >
                Selamat Datang di<br />
                Website BPJAMSOSTEK
              </h1>

              <p
                class="paragraph animate animated fade-in-up-big"
                data-show="fade-in-up-big"
                data-delay="400"
              >
                Dapatkan Informasi Kemudahan Layanan dan Informasi Kepesertaan
                Disini
              </p>
            </div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img
              src="../assets/banner_hd_Web_Banner_-_Anti_Gratifikasi-01_(2).jpg"
              alt="Banner2"
              class="web-banner"
              style="width: 100%"
            />
          </div>

          <div class="mySlides fade">
            <div class="item">
              <div class="numbertext">3 / 3</div>
              <img
                src="../assets/banner_hd_Artboard_2.png"
                alt="Banner3"
                class="web-banner"
                style="width: 100%"
              />
              <div class="carousel-caption">
                <h1
                  class="heading animate animated fade-in-up-big"
                  data-show="fade-in-up-big"
                  data-delay="100"
                >
                  Selamat Datang di<br />
                  Website BPJAMSOSTEK
                </h1>

                <p
                  class="paragraph animate animated fade-in-up-big"
                  data-show="fade-in-up-big"
                  data-delay="400"
                >
                  Dapatkan Informasi Kemudahan Layanan dan Informasi Kepesertaan
                  Disini
                </p>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div style="text-align: center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>

      <!-- banner end-->

      <!-- Cek saldo jht dropdown -->
      <div class="container ui-icon-blocks ui-blocks-h icons-lg">
        <div
          id="shortcutbox"
          class="section-shortcut center"
          data-anchor-offset="200"
        >
          <div class="shortcutbox scrollto">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtns">
                Saya mau, Cek Saldo JHT Saya
              </button>
              <div id="myDropdown" class="dropdown-contents">
                <a href="https://lapakasik.bpjsketenagakerjaan.go.id/"
                  >Klaim JHT Online</a
                >
                <a href="https://sso.bpjsketenagakerjaan.go.id/"
                  >Klaim JKP Online</a
                >
                <a href="https://pom.bpjsketenagakerjaan.go.id/pu"
                  >Mendaftar Peserta Program Penerima Upah</a
                >
                <a href="https://www.bpjsketenagakerjaan.go.id/tracking"
                  >Melakukan Pengecekan Klaim JHT</a
                >
                <a
                  href="https://www.bpjsketenagakerjaan.go.id/cara-mencairkan-saldo-jht.html"
                  >Informasi Mencairkan Saldo JHT</a
                >
                <a href="https://bsu.bpjsketenagakerjaan.go.id/"
                  >Informasi Bantuan Subsidi Upah</a
                >
                <!-- data-target="/kontak.html#plkk"> -->
                <a
                  href="https://www.bpjsketenagakerjaan.go.id/cara-mendaftar-jadi-peserta.html"
                  >Informasi Mendaftar Peserta BPJAMSOSTEK</a
                >
                <a
                  href="https://www.bpjsketenagakerjaan.go.id/cara-membayar-iuran.html"
                  >Informasi Membayar Iuran</a
                >
                <!--<a href="/cara-cek-saldo-jht.html">Informasi Mengetahui saldo JHT Saya</a>-->
                <a href="https://www.bpjsketenagakerjaan.go.id/perumahan.html"
                  >Informasi Perumahan Pekerja</a
                >
                <a
                  href="https://www.bpjsketenagakerjaan.go.id/tracking_pengaduan"
                  >Melakukan Tracking Pengaduan</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end cek saldo jht dropdow-->
      <br />
      <br />
      <br />

      <!-- info menu-->
      <div class="container">
        <div class="row">
          <div class="container">
            <div
              class="row ui-icon-blocks ui-blocks-h ui-stats icons-lg"
              data-duration="2000"
            >
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="#ajukanklaim"
                  target="_blank"
                  data-toggle="modal"
                >
                  <div class="icon icon-product icon-product-1"></div>
                  <div class="name-product">Ajukan Klaim</div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="/tracking"
                >
                  <div class="icon icon-product icon-product-2"></div>
                  <div class="name-product">Cek Status Klaim</div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="https://sso.bpjsketenagakerjaan.go.id"
                  target="_blank"
                >
                  <div class="icon icon-product icon-product-3"></div>
                  <div class="name-product">Cek Saldo JHT</div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light"
                  data-toggle="modal"
                  data-target="#pendaftaran"
                >
                  <div class="icon icon-product icon-product-4"></div>
                  <div class="name-product">Pendaftaran Peserta</div>
                </div>
              </div>
            </div>
            <div
              class="row ui-icon-blocks ui-blocks-h ui-stats icons-lg"
              data-duration="2000"
            >
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="/kontak.html#plkk"
                >
                  <div class="icon icon-product icon-product-5"></div>
                  <div class="name-product">RS/Klinik Kecelakaan Kerja</div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="https://sipp.bpjsketenagakerjaan.go.id"
                >
                  <div class="icon icon-product icon-product-6"></div>
                  <div class="name-product">Pelaporan Data Perusahaan</div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="/kanal-pembayaran.html"
                >
                  <div class="icon icon-product icon-product-7"></div>
                  <div class="name-product">Pembayaran Iuran</div>
                </div>
              </div>
              <!-- <div class="col-sm-3 col-xs-6 ui-icon-block">
                        <div class="list-product btn-light action-card" data-target="https://bsu.bpjsketenagakerjaan.go.id#halaman-cek-bsu">
                           <div class="icon icon-product icon-product-8"></div>
                           <div class="name-product">Cek Status Calon Penerima BSU</div>
                        </div>
                     </div> -->
              <div class="col-sm-3 col-xs-6 ui-icon-block">
                <div
                  class="list-product btn-light action-card"
                  data-target="/tracking_pengaduan"
                >
                  <div class="icon icon-product icon-product-9"></div>
                  <div class="name-product">Lacak Pengaduan</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end info menu-->

      <!--info pengembangan saldo-->
      <div class="container">
        <div class="row">
          <div class="margin-extra">
            <div class="section-heading">
              <h2 class="heading">Hasil Pengembangan</h2>
            </div>
            <div class="box-content-home">
              <div class="chart-saldo">
                <div class="column">
                  <div id="myPlot1" style="width: 100%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end info pengembangan saldo-->

    <!--informasi kepesertaan-->

    <div
      id="informasi"
      class="section bg-light animate"
      data-anchor-offset="200"
    >
      <div class="container">
        <div class="section-heading">
          <h2 class="heading">Informasi Kepesertaan</h2>
        </div>
        <div class="row">
          <div class="container">
            <div
              class="row ui-icon-blocks ui-blocks-h ui-stats icons-lg animate"
            >
              <div class="carousel slide" id="segemenlist" data-type="multi">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-sm-6 col-12 ui-icon-block">
                      <div class="box-content-home padding-20 text-left">
                        <div class="card">
                          <img
                            class="img-kepesertaan"
                            src="../assets/product-icon-peserta-pu.svg"
                            alt="Pekerja Pemerima Upah"
                          />
                          <div class="card-body">
                            <h5 class="card-title">
                              <a
                                href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html"
                                >Pekerja Penerima Upah
                                <i class="fa fa-arrow-right"></i
                              ></a>
                            </h5>
                            <p class="card-text">
                              Setiap orang yang bekerja dengan menerima gaji,
                              upah, atau imbalan dalam bentuk lain dari pemberi
                              kerja. Seperti pekerja kantoran atau buruh pabrik.
                            </p>
                            <p>Jaminan yang Diberikan:</p>
                            <div class="jaminan-list">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-jht.svg"
                                        alt="Jaminan Hari Tua"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html#jht"
                                        >Jaminan Hari Tua</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kecelakaan.svg"
                                        alt="Jaminan Kecelakaan Kerja"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html#jkk"
                                        >Jaminan Kecelakaan Kerja</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kematian.svg"
                                        alt="Jaminan Kematian"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html#jkm"
                                        >Jaminan Kematian</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-pensiun.svg"
                                        alt="Jaminan Pensiun"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html#jp"
                                        >Jaminan Pensiun</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kehilangan-pekerjaan.svg"
                                        alt="Jaminan Kehilangan Pekerjaan"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/penerima-upah.html#jkp"
                                        >Jaminan Kehilangan Pekerjaan</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12 ui-icon-block">
                      <div class="box-content-home padding-20 text-left">
                        <div class="card">
                          <img
                            class="img-kepesertaan"
                            src="../assets/product-icon-peserta-bpu.svg"
                            alt="Pekerja Bukan Penerima Upaha"
                          />
                          <div class="card-body">
                            <h5 class="card-title">
                              <a
                                href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html"
                                >Pekerja Bukan Penerima Upah
                                <i class="fa fa-arrow-right"></i
                              ></a>
                            </h5>
                            <p class="card-text">
                              Orang perorangan yang melakukan kegiatan usaha
                              secara mandiri untuk memperoleh penghasilan.
                              Seperti Dokter, Pedagang, Ojek Online dan lain
                              lain
                            </p>
                            <p>Jaminan yang Diberikan:</p>
                            <div class="jaminan-list">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-jht.svg"
                                        alt="Jaminan Hari Tua"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jht"
                                        >Jaminan Hari Tua</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kecelakaan.svg"
                                        alt="Jaminan Kecelakaan Kerja"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jkk"
                                        >Jaminan Kecelakaan Kerja</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kematian.svg"
                                        alt="Jaminan Kematian"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jkm"
                                        >Jaminan Kematian</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-6 col-12 ui-icon-block">
                      <div class="box-content-home padding-20 text-left">
                        <div class="card">
                          <img
                            class="img-kepesertaan"
                            src="../assets/product-icon-peserta-bpu.svg"
                            alt="Pekerja Bukan Penerima Upaha"
                          />
                          <div class="card-body">
                            <h5 class="card-title">
                              <a
                                href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html"
                                >Pekerja Bukan Penerima Upah
                                <i class="fa fa-arrow-right"></i
                              ></a>
                            </h5>
                            <p class="card-text">
                              Orang perorangan yang melakukan kegiatan usaha
                              secara mandiri untuk memperoleh penghasilan.
                              Seperti Dokter, Pedagang, Ojek Online dan lain
                              lain
                            </p>
                            <p>Jaminan yang Diberikan:</p>
                            <div class="jaminan-list">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-jht.svg"
                                        alt="Jaminan Hari Tua"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jht"
                                        >Jaminan Hari Tua</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kecelakaan.svg"
                                        alt="Jaminan Kecelakaan Kerja"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jkk"
                                        >Jaminan Kecelakaan Kerja</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kematian.svg"
                                        alt="Jaminan Kematian"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/bukan-penerima-upah.html#jkm"
                                        >Jaminan Kematian</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12 ui-icon-block">
                      <div class="box-content-home padding-20 text-left">
                        <div class="card">
                          <img
                            class="img-kepesertaan"
                            src="../assets/product-icon-peserta-jakon.svg"
                            alt="Pekerja Jasa Konstruksi (Jakon)"
                          />
                          <div class="card-body">
                            <h5 class="card-title">
                              <a
                                href="https://www.bpjsketenagakerjaan.go.id/jasa-konstruksi.html"
                                >Pekerja Jasa Konstruksi (Jakon)
                                <i class="fa fa-arrow-right"></i
                              ></a>
                            </h5>
                            <p class="card-text">
                              Layanan jasa konsultasi perencanaan pekerjaan
                              konstruksi, layanan jasa pelaksanaan pekerjaan
                              konstruksi dan layanan konsultasi pengawasan
                              pekerjaan konstruksi
                            </p>
                            <p>Jaminan yang Diberikan:</p>
                            <div class="jaminan-list">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kematian.svg"
                                        alt="Jaminan Kematian"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/jasa-konstruksi.html#jkm"
                                        >Jaminan Kematian</a
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="jaminan-row">
                                    <div class="jaminan-images">
                                      <img
                                        class=""
                                        src="../assets/product-icon-jaminan-kecelakaan.svg"
                                        alt="Jaminan Kecelakaan Kerja"
                                      />
                                    </div>
                                    <div class="jaminan-name">
                                      <a
                                        href="https://www.bpjsketenagakerjaan.go.id/jasa-konstruksi.html#jkk"
                                        >Jaminan Kecelakaan Kerja</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end informasi kepesertaan-->

    <!--product promotion-->

    <div id="informasi-jmo" class="section bg-light-gray animate">
      <div class="container">
        <div class="animate">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 padding-top-jmo">
              <h2>
                Nggak Mau Ribet? <span style="color: #37b34a">JMO</span>in aja!
              </h2>
              <h2 class="jmo-width-300">Download Aplikasinya Sekarang</h2>
              <br />
              <div class="row padding-left-jmo">
                <div class="col-md-4">
                  <a
                    href="https://apps.apple.com/id/app/bpjstku/id1444834757"
                    target="_blank"
                    ><img
                      class="button-download"
                      src="../assets/icon-jmo-app-store.svg"
                      alt=""
                  /></a>
                </div>
                <div class="col-md-4">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.bpjstku"
                    target="_blank"
                    ><img
                      class="button-download"
                      src="../assets/icon-jmo-google-play.svg"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />

    <!--end product promotion-->

    <!-- footer -->
    <footer class="footer">
      <div class="container container-footer">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-10 pull-right">
            <div class="col-md-12 col-xs-12 call-center-mobile">
              <div class="text-start" style="color: #fff">
                <div class="text-start">
                  <img
                    src="../assets/logo-call-center-new.png"
                    alt="Call Center BPJamsostek"
                    class="width-img"
                  />
                </div>
                <div class="ikut-kami">
                  <ul>
                    <li class="footer-menu-1st">Ikuti Kami</li>
                  </ul>
                </div>
                <div class="iconsosmed">
                  <a
                    href="https://id-id.facebook.com/bpjstkinfo/"
                    target="_blank"
                    title="Facebook"
                    class="cta cta-circle facebook"
                  >
                    <i class="fa fa-facebook fa-lg"></i>
                  </a>
                  <a
                    href="https://twitter.com/bpjstkinfo"
                    target="_blank"
                    title="Twitter"
                    class="cta cta-circle twitter"
                  >
                    <img
                      src="../assets/twitter-x.png"
                      alt="logo-twitter"
                      style="width: 18px; padding-left: 0px !important"
                    />
                  </a>
                  <a
                    href="https://www.youtube.com/user/bpjstkinfo"
                    target="_blank"
                    title="Youtube"
                    class="cta cta-circle youtube"
                  >
                    <i class="fa fa-youtube-play fa-lg"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/bpjs.ketenagakerjaan/"
                    target="_blank"
                    title="Instagram"
                    class="cta cta-circle instagram"
                  >
                    <i class="fa fa-instagram fa-lg"></i>
                  </a>
                  <a
                    href="http://wa.me/6281380070175"
                    target="_blank"
                    title="Playstore"
                    class="cta cta-circle playstore"
                  >
                    <i class="fa fa-whatsapp fa-lg text-start"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="row"></div>
              <!-- Aplikasi -->
              <div class="col-xs-6 col-sm-4 col-md-3">
                <ul>
                  <li class="footer-menu-1st">Aplikasi</li>
                  <li>
                    <a href="https://eps.bpjsketenagakerjaan.go.id/"> EPS </a>
                  </li>
                  <li>
                    <a href="https://perisai.bpjs.go.id/" target="_blank">
                      Perisai
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://eproc.bpjsketenagakerjaan.go.id/"
                      target="_blank"
                    >
                      e-Procurement
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://tc.bpjsketenagakerjaan.go.id/"
                      target="_blank"
                    >
                      Mitra Pusat Layanan <br />Kecelakaan Kerja
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://wbs.bpjsketenagakerjaan.go.id/"
                      target="_blank"
                    >
                      WBS
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://rekrutmen.bpjsketenagakerjaan.go.id/"
                      target="_blank"
                    >
                      Karir
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/kalkulator-perencanaan"
                    >
                      Kalkulator Perencanaan Keuangan
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Manfaat Tambahan -->
              <div class="col-xs-6 col-sm-4 col-md-3 h-footer">
                <ul>
                  <li class="footer-menu-1st">Manfaat Tambahan</li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/sarana-kesejahteraan-pekerja.html"
                    >
                      Rusunawa</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/perumahan.html"
                    >
                      Perumahan Pekerja
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Promosi & Pers -->
              <div class="col-xs-6 col-sm-4 col-md-3">
                <ul>
                  <li class="footer-menu-1st">Promosi &amp; Pers</li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/co-marketing"
                    >
                      Promo</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/siaran-pers-detail.html"
                    >
                      Siaran Pers
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Lainnya -->
              <div class="col-xs-6 col-sm-4 col-md-3">
                <ul>
                  <li class="footer-menu-1st">Lainnya</li>
                  <li>
                    <a
                      href="https://www.bpjsketenagakerjaan.go.id/struktur-organisasi.html"
                    >
                      Struktur Organisasi
                    </a>
                  </li>
                  <li>
                    <a href="https://www.bpjsketenagakerjaan.go.id/search.html">
                      Formulir
                    </a>
                  </li>
                  <li>
                    <a href="https://www.bpjsketenagakerjaan.go.id/search.html">
                      F.A.Q
                    </a>
                  </li>
                  <li>
                    <a href="https://www.bpjsketenagakerjaan.go.id/lelang.html">
                      Pengadaaan Barang &amp; Jasa
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-2 col-sm-2">
            <div class="col-md-12 col-xs-12 call-center">
              <div class="text-center" style="color: #fff">
                <div class="text-center">
                  <img
                    src="../assets/logo-call-center-new.png"
                    alt="Call Center BPJamsostek"
                  />
                </div>
                <div class="ikut-kami">
                  <ul>
                    <li class="footer-menu-1st">Ikuti Kami</li>
                  </ul>
                </div>
                <div class="text-center icon-social">
                  <a
                    href="https://id-id.facebook.com/bpjstkinfo/"
                    target="_blank"
                    title="Facebook"
                    class="cta cta-circle facebook"
                  >
                    <i class="fa fa-facebook fa-lg"></i>
                  </a>
                  <a
                    href="https://twitter.com/bpjstkinfo"
                    target="_blank"
                    title="Twitter"
                    class="cta cta-circle twitter"
                  >
                    <img
                      src="../assets/twitter-x.png"
                      alt="logo-twitter"
                      style="width: 18px"
                    />
                  </a>
                  <a
                    href="https://www.youtube.com/user/bpjstkinfo"
                    target="_blank"
                    title="Youtube"
                    class="cta cta-circle youtube"
                  >
                    <i class="fa fa-youtube-play fa-lg"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/bpjs.ketenagakerjaan/"
                    target="_blank"
                    title="Instagram"
                    class="cta cta-circle instagram"
                  >
                    <i class="fa fa-instagram fa-lg"></i>
                  </a>
                  <a
                    href="http://wa.me/6281380070175"
                    target="_blank"
                    title="Playstore"
                    class="cta cta-circle playstore"
                  >
                    <i class="fa fa-whatsapp fa-lg text-start"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <p class="copy">
            Copyright © 2021 BPJS Ketenagakerjaan. All Rights Reserved
          </p>
        </div>
      </div>
    </footer>

    <!-- end footer-->

    <!-- cdn -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- cdn -->

    <script type="text/javascript" src="../js/carousel.js"></script>
    <script type="text/javascript" src="../js/dropdown.js"></script>
    <script type="text/javascript" src="../js/chart.js"></script>
  </body>
</html>
